.vs/
Debug/
*.dat
*.tlog
*.lastbuildstate
*.obj
*.log
*.pch
*.idb
*.pdb
*.exe
*.ilk
*.dll
*.exp
*.lib
*.sln
QuizProject/pch.cpp
QuizProject/pch.h
QuizProject/testing.dat
QuizProject/QuizProject.vcxproj
QuizProject/QuizProject.vcxproj.filters
QuizProject/QuizProject.vcxproj.user
UnitTest1/stdafx.cpp
UnitTest1/stdafx.h
UnitTest1/targetver.h
UnitTest1/UnitTest1.vcxproj
UnitTest1/UnitTest1.vcxproj.filters
UnitTest1/UnitTest1.vcxproj.user
UnitTest1/pch.cpp
UnitTest1/pch.h
